.TodoItem {
	display: flex;
	font-size: 1.5rem;
	border-bottom: 1px solid #ddd;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

p {
	cursor: pointer;
}

.done {
	text-decoration: line-through;
	opacity: 0.3;
}
